body{
    background-color: rgb(251, 251, 251);
}


.container {
  background-color: rgb(216, 194, 194);
    padding: 80px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 900px;
    align-items: center; 
}
.forecast {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}
footer {
  color:rgb(110, 104, 104);
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 70px;
}
.both {
    display: flex;
    justify-content: space-between;
   align-items: center;    
}
.num{
    font-size: 100px;
    font-weight: bolder;
}

.emoji {
    font-size: 50px;
    vertical-align: middle;
   margin-right: 5px;
    margin-top: 10px;
    filter: none;
}
  strong{
    color:rgb(249, 53, 118);
  }
  p{
    color:rgb(110, 104, 104);
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }
  #city{
    background-color: rgb(251, 251, 251);
;
    color:#222;
    border: none;
    padding: 20px;
    width: 80%;
    font-weight: 600;
    font-size: 22px;
    border-radius: 7px;
    text-transform: capitalize;
  }
  form{
    margin-bottom: 30px;
  }
  .last{
    font-weight: bold;
    font-size: 30px;
  }
  #btn {
    background-color: #4b0082;
    width: 150px;
    margin-left: 4px;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    cursor:pointer;
    transition: background 0.3s ease;
    padding:20px;
    font-size: 22px;
  }
  #btn:hover {
    background-color: #2e0854;
  }
  h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    font-weight: bolder;  
}

.forecasticon {
  font-size: 38px;
  text-align: center;
}
.forecasttemperatures{
  text-align: center;
  color:#f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.forecasttemperature {
  padding: 0 10px;
  font-size: 30px;
}
  .forecastdate{
    text-align: center;
    color:rgb(110, 104, 104);
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
  }